* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 250px 1fr 300px;
    height: 100%;
    overflow: hidden;
}


/*menu-design */

#menu {
    background: white;
}

#food-cont {
    background: #eb7434;
}

#cart {
    background: lavender;
}

.logo {
    padding: 0 30px;
}

.logo img {
    width: 150px;
    height: 150px;
    margin-top: -20px;
}

.menu-item a {
    display: block;
    text-decoration: none;
    font-size: 25px;
    padding: 8px 30px;
    margin: 12px 0;
    color: red;
    font-weight: 250;
}

.menu-item a:hover {
    background: #ffe875;
}

#food-cont {
    background: whitesmoke;
    overflow: scroll;
    overflow-x: hidden;
    box-sizing: content-box;
}

#header {
    display: flex;
    justify-content: space-a;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 10px;
    position: sticky;
    top: 0;
    background: whitesmoke;
    z-index: 1;
}

::-webkit-scrollbar {
    display: none;
}

#header .address {
    font-size: 20px;
    ;
}

.your-address {
    border: 1px solid indianred;
    color: indianred;
    padding: 5px 10px;
    width: 150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.add-box i {
    font-size: 20px;
}

.available-pizzas {}

.bar i .user i {
    font-size: 18px;
    margin: 0 16px;
    border: 1px splod crimson;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
}

.bar i:active {
    color: white;
    background: crimson;
}